@page "/"

<NavLink class="nav-link" href="students">
    <span class="oi oi-plus" aria-hidden="true"></span> Students
</NavLink>
<NavLink class="nav-link" href="meals">
    <span class="oi oi-plus" aria-hidden="true"></span> Meals
</NavLink>
<NavLink class="nav-link" href="transactions">
    <span class="oi oi-plus" aria-hidden="true"></span> Transactions
</NavLink>