@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="header">
            <h1>
                <img src="lssd.svg" style="width: 64px;">
                LSSD Lunch Management System
            </h1>            
            <div>
                <NavLink href="schools">Schools</NavLink> |
                <NavLink href="students">Students</NavLink> |
                <NavLink href="meals">Meals</NavLink> |
                <NavLink href="transactions">Transactions</NavLink>
            </div>
        </div>
        <div class="main" style="display: flex; justify-content: center;">
            <div class="main_inner">
            @Body
            </div>
        </div>
        <div class="footer">
            Logged in as <b>@context.User.Identity.Name</b>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="main">
            <a href="Account/Login">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
