@inherits LayoutComponentBase

<PageTitle>LSSD.Lunch.WebScanner</PageTitle>

<div class="page">
    <main>        
        <article class="content px-5">
            @Body
        </article>
    </main>
</div>
